

.map {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 277px);
}
/* calc(100vh - 277px); */

.ant-drawer{
  padding: 0px;
}

.ant-drawer .ant-drawer-body {
  padding: 0px;
}
.ant-drawer .ant-drawer-header  {
  padding: 0px;
  background-color: cornflowerblue;
}

.ant-drawer .ant-drawer-content {
  height: 420px;
}


/* .sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
} */
